Clase6/node-red-introduccion/mqtt-basic.json
[
    {
        "id": "e130342e57c5a137",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acc9bc9296abbe01",
        "type": "mqtt in",
        "z": "e130342e57c5a137",
        "name": "",
        "topic": "pruebasNodeRed",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9855f3af1aee1362",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8410a9d46fd8781d",
                "ace812ac72dc7547"
            ]
        ]
    },
    {
        "id": "8410a9d46fd8781d",
        "type": "debug",
        "z": "e130342e57c5a137",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "ace812ac72dc7547",
        "type": "ui_chart",
        "z": "e130342e57c5a137",
        "name": "",
        "group": "28ea09137d1f6987",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Funcion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9855f3af1aee1362",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28ea09137d1f6987",
        "type": "ui_group",
        "name": "Pruebas",
        "tab": "7adf3cf201b6f928",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7adf3cf201b6f928",
        "type": "ui_tab",
        "name": "GraficaMQTT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]